*{
	margin: 0;
	padding: 0;
	font-family: verdana;
}

.navbar{
border: none;
border-radius: 0;
background-color: black;
font-size: 20px;
}

body{
	background-color: #999900;
	color: white;
}
.glyphicon{
	font-size: 20px;
	color: #999900; 
}


.container
{
	background-color: #FFFACD;
color: black;
}

.text-center{
	font-size: 30px;
}

h3 {
	text-align: center;

}
#myNavbar ul li a {
color: #FFFACD;
text-align: center;
}

.navbar-brand{
font-size: 33px;
}